$container-max-widths: (
  sm: 90%,
  md: 90%,
  lg: 90%,
  xl: 90%
);

$principal: #22c9fb;
$secundario: #D3FFFA;
$tercero:#FF7F52;
$gris-oscuro: #707070;
$gris-medio: #9ca1a7;
$gris-claro: #E5E3E3;


$primary: $principal;
$warning: $tercero;
